* {
	.btn {
		margin-top: 2rem;
		display: block;
		margin: 0 auto;
	}
}
body {
	background-color: #1b1817;
}
.home {
	nav {
		top: 0;
		right: 0;
		width: 100%;
		height: 5rem;
		position: fixed;
		z-index: 1;
	}
	nav ul {
		list-style: none;
		display: flex;
		gap: 40px;
		justify-content: start;
		padding: 0.5rem 1rem;

		a {
			text-decoration: none;
			color: #c6c5c5;
		}
	}
	nav.before .active-element {
		transform: rotate(180deg);
	}
	.main {
		padding-top: 3rem;
		img {
			padding-top: 3rem;
			display: block;
			margin: 0 auto;
			height: 18rem;
		}
		.description {
			gap: 0.8rem;
			h1,
			h2,
			p,
			div {
				text-align: center;
			}
			h1{
				color: #FF2D38;
			}
		}
	}
}
.about {
	padding: 0.5rem;
	h1 {
		text-align: center;
		span {
			color: #0a0aca;
		}
	}
	.description {
		display: flex;
		justify-content: center;
		.left {
			width: 25rem;
			.bottom {
				display: flex;
				justify-content: space-between;
			}
		}
		.right {
			margin-top: 2rem;
			width: 18rem;
			div {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

.skills {
	h1 {
		text-align: center;
		span {
			color: hsl(240, 100%, 50%);
		}
	}
	justify-content: space-evenly;

	.skill {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		align-content: center;
		justify-content: center;
		margin: 0 auto;
		/* width: %; wotk on this */
	}
	.projects {
		.sample {
			display: flex;
			justify-content: space-evenly;
			div {
				width: 15rem;
				gap: 2rem;
			}
		}
		.btn {
			margin-top: 2rem;
			display: block;
			margin: 0 auto;
		}
	}
}
.contact {
	h1,
	p {
		text-align: center;
	}
	.socials {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
	}
}
footer {
	text-align: center;
}
